<br>
<br>
<br>
<br>



<div class="container">
<div class="row">
<div class="col">
  <iframe width="500" height="500" src="https://www.youtube.com/embed/GDgS4xPVHw0"   allowfullscreen></iframe>
</div>
<div class="col">
  <div class="centerDiv">
    <div class="space"></div>
    <h3>"Insightful details on Revenue strategies for the city"</h3>
    <h5 class="font-italic">-Vaishali</h5>
  </div>

</div>
</div>
  <hr>
  <br>


<div class="row">
  <div class="col">
    <iframe width="500" height="500" src="https://www.youtube.com/embed/PHNWBynphCY?ecver=1"   allowfullscreen></iframe>  </div>
  <div class="col">
    <div class="centerDiv">
      <div class="space"></div>
      <h3>"First of the forums to bring academics and Industry partners together."</h3>
      <h5 class="font-italic">-Honey</h5>

    </div>

  </div>
</div>

  <hr>
  <br>

<div class="row">
  <div class="col">
    <iframe width="500" height="500"  src="https://www.youtube.com/embed/3CPfDXrnrvs?ecver=1"   allowfullscreen></iframe>
  </div>
  <div class="col">
    <div class="centerDiv">
      <div class="space"></div>
      <h3>"Great forum for exchange of ideas."</h3>
      <h5 class="font-italic">-Aarti</h5>

    </div>

  </div>
</div>
</div>
<hr>
<br>
























<footer class="page-footer font-small indigo pt-4 mt-4">
  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2018 Copyright:
    <a href="http://www.rmforum.co.in:4200"> rmforum.co.in </a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
