<!--
<div class="view" xmlns:font-size="http://www.w3.org/1999/xhtml" xmlns:font-size="http://www.w3.org/1999/xhtml">
  <div class="full-bg-img">
    <div class="mask rgba-black-light flex-center">
      <div class="container text-center white-text">
        <div class="white-text text-center wow fadeInUp">



            <div class="row">
              <div class="col-sm-5">
                <iframe width="700" height="500" src="http://youtube.be/embed/0DTHRS68dnw" allowfullscreen="allowfullscreen"></iframe>
              </div>
              <div class="col-sm-5">
              </div>
            </div>





            <div class="row">
              <div class="col-sm-5">
                <iframe width="700" height="500" src="http://youtube.be/embed/QhknlSvErRI" allowfullscreen="allowfullscreen"></iframe>
              </div>
              <div class="col-sm-5">
              </div>
            </div>





            <div class="row">
              <div class="col-sm-5">
                <iframe width="700" height="500" src="https://youtube.be/embed/7PZvBiPqsOo" allowfullscreen="allowfullscreen"></iframe>
              </div>
              <div class="col-sm-5">
              </div>
            </div>







        </div>
      </div>
    </div>
  </div>
</div>
-->
<br>
<br>

<br>
<br>
<div class="row">
<div class="col">
</div>
  <div class="col-10">

<div class="row">
  <div class="col">
          <iframe width="500" height="500" src="http://youtube.be/embed/0DTHRS68dnw" allowfullscreen="allowfullscreen"></iframe>
  </div>

  <div class="col">
          <iframe width="500" height="500" src="http://youtube.be/embed/QhknlSvErRI" allowfullscreen="allowfullscreen"></iframe>
  </div>

  <div class="col">
          <iframe width="500" height="500" src="https://youtube.be/embed/7PZvBiPqsOo" allowfullscreen="allowfullscreen"></iframe>
  </div>

</div>

  </div>
  <div class="col">
  </div>

</div>





















<!--

    <li class="card card-body mb-4">
      <div class="row">
        <div class="col-sm-5">
          <iframe width="700" height="500" src="http://youtube.be/embed/0DTHRS68dnw" allowfullscreen="allowfullscreen"></iframe>
        </div>
        <div class="col-sm-5">
        </div>
      </div>
    </li>



    <li class="card card-body mb-4">
      <div class="row">
        <div class="col-sm-5">
          <iframe width="700" height="500" src="http://youtube.be/embed/QhknlSvErRI" allowfullscreen="allowfullscreen"></iframe>
        </div>
        <div class="col-sm-5">
        </div>
      </div>
    </li>



    <li class="card card-body mb-4">
      <div class="row">
        <div class="col-sm-5">
          <iframe width="700" height="500" src="https://youtube.be/embed/7PZvBiPqsOo" allowfullscreen="allowfullscreen"></iframe>
        </div>
        <div class="col-sm-5">
        </div>
      </div>
    </li> -->

