.col-sm-5 {
  margin: 50px 500px;
}

body, html {
    height: 100%;
}

.card{
width:250
}


blockquote {
    position: relative;
    margin: 0.5em;
    padding: 0.5em 2em 0.5em 3em;
}
.centerDiv
	{
    margin-top:0;
	}

.space { margin-top: 40%; }





