<p>
  revenue-forum-events-list works!
</p>


<h1>Revenue Forum Events</h1>

<div *ngFor="let revenueForumEvent of revenueForumEvents">

  <div class="jumbotron">
    <h1 class="display-3">{{revenueForumEvent.title}}</h1>
    <p class="lead">{{revenueForumEvent.description}}</p>
    <hr class="my-4">
    <div *ngFor="let speaker of revenueForumEvent.speakers">
      <h4>{{speaker.name}}</h4>
    </div>
    <!--<p class="lead">
      <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </p>-->
  </div>




  <!-- <h4>{{revenueForumEvent.title}}</h4>
  <h4>{{revenueForumEvent.description}}</h4>
  <div *ngFor="let speaker of revenueForumEvent.speakers">
  <h4>{{speaker.name}}</h4>
</div>
  <h4>{{revenueForumEvent.address.details}}{{ revenueForumEvent.address.city}}</h4>

  <div *ngFor="let participant of revenueForumEvent.participants">
    <h4>{{participant.name}}</h4>
    <h4>{{participant.organization}}</h4>
 </div> -->

</div>














  <!--<div class="card text-white bg-success mb-3" style="max-width: 20rem;">
    <div class="card-header">Header</div>
    <div class="card-body">
      <h4 class="card-title">Success card title</h4>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>
  <div class="card text-white bg-danger mb-3" style="max-width: 20rem;">
    <div class="card-header">Header</div>
    <div class="card-body">
      <h4 class="card-title">Danger card title</h4>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>
  <div class="card text-white bg-warning mb-3" style="max-width: 20rem;">
    <div class="card-header">Header</div>
    <div class="card-body">
      <h4 class="card-title">Warning card title</h4>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>
  <div class="card text-white bg-info mb-3" style="max-width: 20rem;">
    <div class="card-header">Header</div>
    <div class="card-body">
      <h4 class="card-title">Info card title</h4>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>
  <div class="card bg-light mb-3" style="max-width: 20rem;">
    <div class="card-header">Header</div>
    <div class="card-body">
      <h4 class="card-title">Light card title</h4>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>
  <div class="card text-white bg-dark mb-3" style="max-width: 20rem;">
    <div class="card-header">Header</div>
    <div class="card-body">
      <h4 class="card-title">Dark card title</h4>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>




  <!--<revenue-forum-event-details [revenueForumEvent]="revenueForumEvent"></revenue-forum-event-details> -->



