
  <div class="card" >
    <div class="card-body">
  <p>
  <b>Revenue Management</b> is our passion, and strongly believe that this cannot be done just by a tool or an individual in the organization. It is everyone’s responsibility from the property owner to the individual contributors from operational and non-operational teams in the hotel.
    Our aim is to facilitate this culture and strengthen it by bringing the industry colleagues, revenue management technology teams and industry partners together. To ensure that this culture sets in from the starting point of education, academia will also join this forum.
    The principal character of the forum is to provide a knowledge sharing platform where everyone related to Hotel Revenue Management is welcome to join and share insights for a well-informed community. This forum is not one driven by any organization, thus creating an open forum to foster and strengthen the Revenue Management culture.
    Therefore, promoting sales in this forum would be out of place.
  </p>


  <h4>When and Where</h4>
  <p>
    The forum is ongoing since 2016, and the frequency is once every quarter.
    It is usually an evening, with the main program for about 90 minutes followed by networking time.
  </p>


  <h4>Format</h4>
  <p>
    Usually starts with an ice-breaking session, followed by Talk by Invited Speakers, and ending with a Panel Discussion also open for audience questions.
  </p>
  </div>

  </div>
  <div class="card" >
    <div class="card-body">
      <h3>Get in touch!</h3>
       Email us at:
      <br>
      <table>
        <tr>
        Karl.lobo@ideas.com
        </tr>
        <tr>
        murphy.mathew@ideas.com
        </tr>
      </table>
    </div>
  </div>

  <div id="map" style="width:100%;height:400px;"></div>












