  <div class="view" xmlns:font-size="http://www.w3.org/1999/xhtml" xmlns:font-size="http://www.w3.org/1999/xhtml">
    <div class="full-bg-img">
      <div class="mask rgba-black-light flex-center">
        <div class="container text-center white-text">
          <div class="white-text text-center wow fadeInUp">
            <h3 class="animated zoomIn"><strong>Revenue Management Forum</strong></h3>
            <h5 class="animated fadeInLeft">
              Revenue Management is our passion, and strongly believe that this cannot be done just by a tool or an individual in the organization. It is everyone’s responsibility from the property owner to the individual contributors from operational and non-operational teams in the hotel.
              Our aim is to facilitate this culture and strengthen it by bringing the industry colleagues, revenue management technology teams and industry partners together. To ensure that this culture sets in from the starting point of education, academia will also join this forum.
              The principal character of the forum is to provide a knowledge sharing platform where everyone related to Hotel Revenue Management is welcome to join and share insights for a well-informed community. This forum is not one driven by any organization, thus creating an open forum to foster and strengthen the Revenue Management culture.
              Therefore, promoting sales in this forum would be out of place.
            </h5>
            <br>
            <h5 class="animated fadeInRight">
              The forum is ongoing since 2016, and the frequency is once every quarter.
              It is usually an evening, with the main program for about 90 minutes followed by networking time.
            </h5>
            <br>
            <h5 class ="animated fadeInLeft">
              Usually starts with an ice-breaking session, followed by Talk by Invited Speakers, and ending with a Panel Discussion also open for audience questions.
            </h5>
          </div>
        </div>
      </div>
    </div>
  </div>
  <main class="text-center py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="row text-center">
            <div class="col-md-3">
            </div>
            <div class="col-md-3">
              <i class="fa fa-map-marker prefix"> </i>
              <p>IDeaS, A SAS Company</p>

            </div>
            <div class="col-md-3">
                <i class="fa fa-envelope prefix"></i>
              <p><a href="mailto:contact@rmforum.co.in">contact@rmforum.co.in</a></p>
            </div>
            <div class="col-md-3"></div>
          </div>
        </div>
      </div>
    </div>
  </main>

  <footer class="page-footer font-small indigo pt-4 mt-4">
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2018 Copyright:
      <a href="http://www.rmforum.co.in:4200"> rmforum.co.in </a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->



