
<div id="eventForLoop" *ngFor="let pastRevenueForumEvent of pastRevenueForumEvents">
  <div class="jumbotron" >
    <h4 class="display-6">{{pastRevenueForumEvent.title}}</h4>
    <p >{{pastRevenueForumEvent.description}}</p>
    <hr class="my-4">
    <h4>Speakers</h4>
    <div id="speakerImageContainer" *ngFor="let speaker of pastRevenueForumEvent.speakers">

      <div class="container">
        <div class="row">
          <div class="col-sm-21 col-lg-4">
      <div class="card h-500 border-secondary" style="width: 21rem;">
        <img class="card-img-top" src="{{getImageUrl(speaker.pathToImage)}}" alt="Card image cap">
        <div class="card-body">

          <a id="speakerName" href={{speaker.linkToLinkedInProfile}} target="_blank"><h6>{{speaker.name}}</h6></a>
          <h5 id= "position" class="card-title">{{speaker.position}}</h5>
          <h5 id="organization" class="card-title">{{speaker.organization}}</h5>
        </div>
        </div>
          </div>
      </div>
      </div>
    </div>
    <hr class="my-4">
    <h4>When</h4>
    <h6>{{pastRevenueForumEvent.startDateTime |date: 'fullDate'}}</h6>
    <h6>{{pastRevenueForumEvent.startDateTime |date: 'shortTime'}} to {{pastRevenueForumEvent.endDateTime | date:'shortTime'}}</h6>
    <hr class="my-4">

    <h4>Where</h4>
    <a href={{pastRevenueForumEvent.address.linkToGoogleMap}} target="_blank"><h6>{{pastRevenueForumEvent.address.details}},{{pastRevenueForumEvent.address.city}}-{{pastRevenueForumEvent.address.pinCode}} ,{{pastRevenueForumEvent.address.state}},{{pastRevenueForumEvent.address.country}}</h6></a>
  </div>
  </div>

