/*h1 , #speakerName, #speakerCredentials, .card-title, #position, #organization, h4 , .container , #speakerImageContainer {
text-align: center;
}
*/
.img {
    width: 100%;
    height: 100%;
    text-align: center;
}

#speakerImageContainer{


display:inline-block;


}

.btn-huge{
    padding-top:60px;
    padding-bottom:60px;
    min-width: 500px;
    max-width: 500px;

}

.card {
        margin: 0 auto; /* Added */
        float: none; /* Added */
        margin-bottom: 10px; /* Added */
}






.container {
  margin: 0 auto; /* Added */
        float: none; /* Added */
        margin-bottom: 10px; /* Added */

}


.view {
    background: url("https://mdbootstrap.com/img/Photos/Others/img (50).jpg")no-repeat center center;
    background-size: cover;
    height: 100vh;
}


/* Important part */
.modal-dialog{
    overflow-y: initial !important
}
.modal-body{
    height: 700px;
    overflow-y: auto;
}

