

#logo{
height: 100%;
width: 100%;

}
logo{
width:8%
}


.indigo {
    background-color: #18c3f3 !important;
}


.view {
    background: url("https://mdbootstrap.com/img/Photos/Others/img (50).jpg")no-repeat center center;
    background-size: cover;
    height: 100vh;
}
