

<nav class="navbar navbar-expand-md navbar-light bg-light mb-3">

    <img id="logo" [src]="logoPath">





    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMain">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarMain">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="aboutUs" >About us</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="revenueForumEvents/upcoming">Upcoming Events</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="revenueForumEvents/past">Past Events</a>
      </li>


      <li class="nav-item active hide" >
        <a class="nav-link" routerLink="testimonials">Testimonials</a>
      </li>

      <li class="nav-item active">
        <a class="nav-link" routerLink="contactUs">Contact Us</a>
      </li>

      <li class="nav-item active hide" >
        <a class="nav-link" routerLink="createEvent">Create Event</a>
      </li>




    </ul>
      </div>

    <div id="socialMediaSymbols">
      <!--<a id="youtube" href="#" target="_blank"><span class="fa fa-youtube" style="font-size:36px ; padding-right:50px"></span> </a> -->
      <a id="twitter" href="https://twitter.com/RMForum_IDeaS" target="_blank"> <span class="fa fa-twitter" style="font-size:36px ; padding-right:20px"> </span></a>

    </div>




</nav>


<!--<li class="nav-item dropdown">
  <div class="btn-group">
    <a class="btn btn-link nav-link">Past Events</a>
    <a class="btn btn-link nav-link dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <span class="sr-only">Toggle Dropdown</span>
    </a>
    <div class="dropdown-menu">


      <a class="dropdown-item" >Action</a>
      <a class="dropdown-item" >Another action</a>
      <a class="dropdown-item" >Something else here</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" >Separated link</a>
    </div>
  </div>
</li> -->



<!--<li class="dropdown">
  <a class="dropdown-toggle" data-toggle="dropdown"  routerLink="revenueForumEvents/past">
    Past Event <span class="caret"></span>
  </a>
  <span class="caret"></span>
  <ul class="dropdown menu">
    <li>hi!</li>


  </ul>
</li> -->
