

<header class="h-100">
  <mdb-navbar SideClass="navbar navbar-fixed-top navbar-expand-lg navbar-dark indigo scrolling-navbar intro-fixed-nav" [containerInside]="false">
    <logo>

      <a class="nav-link" routerLink="aboutUs">
        <img class="navbar-left" id="logo"  [src]="logoPath">
      </a>

    </logo>
    <links>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item  waves-light" mdbWavesEffect>
          <a class="nav-link" routerLink="aboutUs">About us <span class="sr-only"></span></a>
        </li>
        <li class="nav-item  waves-light" mdbWavesEffect>
          <a class="nav-link" routerLink="revenueForumEvents/upcoming">Upcoming Events</a>
        </li>
        <li class="nav-item  waves-light" mdbWavesEffect>
          <a class="nav-link" routerLink="revenueForumEvents/past">Past Events</a>
        </li>

        <li class="nav-item  waves-light" mdbWavesEffect>
          <a class="nav-link" routerLink="testimonials">Testimonials</a>
        </li>
      </ul>


      <ul class="navbar-nav nav-flex-icons">
        <li class="nav-item">
          <a class="nav-link" id="facebook"><i class="fa fa-facebook"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="twitter" href="https://twitter.com/RMForum_IDeaS" target="_blank"><i class="fa fa-twitter"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="linkedin" href="https://www.linkedin.com/company/13742049/admin/overview/" target="_blank"><i class="fa fa-linkedin"></i></a>
        </li>
      </ul>

    </links>
  </mdb-navbar>
</header>



























